/*
=============================================== 01. COMMON STYLES ===============================================
*/

body {
  background: #252729;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
img {
	max-width:100%; 
	height: auto; 
}
body iframe {
	border:none;
}
body a img, body a {
	outline:none !important; 
	text-decoration:none;
}
p {
	padding-top:0px; 
	margin:0px;
}
p, ul, ol {
	margin-bottom: 25px;
}
ul, ol { 
	padding-left:16px;
}
img {
	max-width: 100%;
	height: auto;  
	width:auto;
}
video, audio {
	max-width:100%;
}
.alignnone, .alignleft, .alignright, .aligncenter {
	max-width:100% !important;
}
.alignright {
	float:right; 
	margin:0 0 15px 25px;
}
.alignleft {
	float:left;
	margin:0px 25px 15px 0px;
}
body hr {
	background:#e7e8eb;
	height:2px;
	border:none;
	margin:35px 0px 40px 0px;
}
.aligncenter {
	text-align:center;
	margin:0px auto 20px auto;
	display:block;
}
blockquote {
	border-left:4px solid #aaaaaa;
	margin-left:0px;
	padding-left:30px;
	line-height:1.8;
}
blockquote a:hover, blockquote a {
	color:#666666;
}
blockquote.alignleft, blockquote.alignright {
	width:32%;
	float:left;
	border-left:none;
	border-top:4px solid #666666;
	padding:15px 15px 0px 15px;
	margin-bottom:0px;
}
blockquote.alignright {
	float:right;
}
table {
	background:#ffffff;
	border-collapse: separate; 
	border-spacing: 0;
	margin: 0 0 2em;
	max-width: 100%;
	border-left:1px solid #eaeaea;
	border-top:1px solid #eaeaea;
}	
th, td {
	color:#606060;
	border: 1px solid #eaeaea;
}
table th { 
	background:#eaeaea;
}
table caption, table th, table td {
	font-weight: normal;
	text-align: left; 
}
table th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}
table td {
	border-width: 0 1px 1px 0;
}
table tr th, table tr td {
	padding: 8px 12px;
}
#page {
  position: relative;
  background-color: #ffffff;
  z-index: auto;
}
h2.section-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.card.post-block {
  border: none;
  background-color: #ffffff;
}

/* FORM EMEMENTS */

body select {
  display: block;
  max-width: 100%;
  height: auto !important;
  background-image: url("assets/img/angle_down_font_awesome.svg") !important;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 95% center;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button {
  cursor: pointer;
}
.form-control:focus,
a:focus,
.btn:focus,
button:focus,
textarea:focus,
input:focus {
  box-shadow: none;
}

/* POST BLOCK */

.card.post-block .card-body {
  padding: 1.25rem .5rem 0 0;
}
.card.post-block .card-text {
  color: #2e2e2e;
}
.card.post-block .card-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.card.post-block a {
  text-decoration: none;
}
.card.post-block a > .card-title {
  color: #212529;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
}
.card.post-block a > .card-title:hover {
  color: #fdb825;
}
.card-footer {
  padding: 0.75rem 0 0;
  margin-top: 0.75rem;
  background-color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card.post-block .meta {
  display: block;
  font-size: 0.7rem;
  color: #5a5a5a;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
a.media-object {
  position: relative;
  display: block;
}
a.media-object:before {
  background-color: #000;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .5s ease;
}
a.media-object:hover:before {
  opacity: 0.3;
}
.category-label {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  left: 0;
  bottom: 10%;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.6rem 1rem 0.6rem 2.5rem;
  background-image: url("assets/img/default-avatar.png");
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: 0.4rem center;
}
@media (min-width: 768px) {
  .card.post-block {
      border-right: 5px solid transparent;
  }
}
.mask-dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
a {
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
}
/* TEST ADDS BLOCKS */

.ads {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
}
.ads.large-rectangle{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.ads.large-rectangle:before {
  padding-top: 83.333%;
  display: block;
  content: "";
}
.ads.large-rectangle iframe, .ads.large-rectangle object, .ads.large-rectangle embed { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.ads img{
  max-width: 100%;
  height: auto;
}
@media (min-width:768px){
  .ads{
    display: inline-block;
    vertical-align: middle;
  }
}



/*
=============================================== 01. HEADER STYLES ===============================================
*/

.mm-slideout {
  z-index: auto;
}
.mm-opened .main-menu-area.fixed-top {
  position: absolute;
}
#page-header {
  background-color: rgba(14, 14, 14, 0.95);
  border: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}
#page-header #menu-toggle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  z-index: 4;
  left: 1.5rem;
  top: 5px;
  display: block;
}
#page-header #menu-toggle::before,
#page-header #menu-toggle::after,
#page-header #menu-toggle span {
  background: #fff;
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  right: 0px;
}
#page-header #menu-toggle span {
  top: 3px;
}
#page-header #menu-toggle::before {
  top: 15px;
}
#page-header #menu-toggle::after {
  bottom: 0px;
}
#page-header #site-navigation {
  display: none;
}
#page-header .navbar-brand {
  margin: 0rem 1rem;
  -webkit-transition: margin .3s;
  -moz-transition: margin .3s;
  transition: margin .3s;
}
#page-header .navbar-brand img{
  height: auto;
  width: 280px;
}
#page-header .header-main-area{
  display: block;
}
@media (min-width:768px){
  #page-header .navbar-brand {
    margin: 0.5rem 1rem;
    float: left;
  }
}
@media (min-width: 1200px){
  #page-header .navbar-brand {
    display: inline-block;
  }
}
#page-header .navbar-content-right {
  top: 0;
  right: 0;
  color: #ffffff;
  position: relative;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  text-align: center;
  margin: 0 auto 0.5rem;

}
@media (min-width: 768px) {
  #page-header .navbar-content-right {
    right: 1rem;
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    margin: 0;
  }
  #page-header .header-main-area{
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #page-header .navbar-content-right {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  #page-header #site-navigation {
    display: block;
    float: left;
    padding-left: 1rem;
  }
  #page-header #menu-toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  #page-header {
    border-bottom-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s, margin-bottom 0.3s, margin-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s, margin-bottom 0.3s, margin-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s, margin-bottom 0.3s, margin-bottom 0.3s;
  }
  
}
.header-main-area{
  text-align: center;
}
.header-main-area a {
  color: #888888;
}
.header-main-area a:hover {
  text-decoration: none;
}
.header-main-area .social-links{
  margin-bottom: 0;
  display: inline-block;
}
.header-main-area .social-links li {
  text-align: center;
}
.header-main-area .block-newsletter {
  margin-bottom: 1.5rem;
}
.header-main-area .social-links li a {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  background: #333333;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;
}
.header-main-area .social-links li a:hover {
  background: #fdb825;
}




/*
=============================================== 03. NAVIGATION STYLES ===============================================
*/

.main-menu-area {
  display: block;
  width: 100%;
  background: #252729;
  position: relative;
  line-height: 1;
}
.main-menu-area.fixed-top{
  position: fixed;
}
.main-menu-area ul.top-links {
  margin-bottom: 0;
}
.main-menu-area ul.top-links li.social-icons a{
  margin-right: 0px;
  color:#ffffff;
  width: 48px;
  height: 44px;
  display: inline-block;
  text-align: center;
  padding: 0;
  line-height: 50px;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;
}
.main-menu-area ul.top-links li.social-icons a i{
  font-size: 22px;
}
.main-menu-area ul.top-links li.social-icons a.facebook:hover {
  background: #4460ae;
}
.main-menu-area ul.top-links li.social-icons a.instagram:hover{
  background: #E03566;
}
.main-menu-area ul.top-links .nav-link {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  padding: 15px;
  height: 44px;
  margin-bottom: 0;
}
.main-menu-area ul.top-links .nav-link:focus{
  outline: none;
}
.main-menu-area .top-links .dropdown-menu {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  border-top: none;
}
.main-menu-area ul.top-links .dropdown.show .text:before {
  visibility: hidden !important;
  opacity: 0 !important;
}
.main-menu-area ul.top-links .dropdown.show .text:after {
  visibility: visible !important;
  opacity: 1 !important;
}
.main-menu-area ul.top-links #minicart-top {
  background-color: #fdb825;
  color: #fff;
}
.main-menu-area ul.top-links #minicart-top .dropdown-menu {
  width: 320px;
  padding: 1rem;
  text-transform: none;
  margin-right: -1px;
}
.main-menu-area ul.top-links #minicart-top a#minicart{
  width: 48px;
}
.main-menu-area ul.top-links #minicart-top a#minicart:after{
  display: none;
}
.main-menu-area ul.top-links #minicart-top a#minicart i{
  font-size: 22px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.main-menu-area ul.top-links #minicart-top .dropdown-menu span.in-cart {
  display: block;
  font-size: 12px;
  margin-bottom: 1rem;
}
.main-menu-area ul.top-links #minicart-top .dropdown-menu span.subtitle {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.main-menu-area ul.top-links #minicart-top .dropdown-menu .product-info {
  font-size: 0.9rem;
  line-height: 1.25;
}
.main-menu-area ul.top-links #minicart-top .dropdown-menu .product-price,
.main-menu-area ul.top-links #minicart-top .dropdown-menu .subtotal {
  font-size: 1.2rem;
  font-weight: 600;
}
.main-menu-area ul.top-links #minicart-top .dropdown-menu .btn {
  font-weight: 500;
  border: none;
}
.main-menu-area ul.top-links #minicart-top .dropdown-menu .btn:hover {
  background: #1e1e1e;
  color: #ffffff;
}
.main-menu-area ul.top-links #search-top a#search-dropdown {
  width: 48px;
  height: 44px;
}
.main-menu-area ul.top-links #search-top a#search-dropdown:after{
  display: none;
}
.main-menu-area ul.top-links #search-top a#search-dropdown i{
  font-size: 22px;
  position: absolute;
  top:10px;
  left:14px;
}
.main-menu-area ul.top-links #search-top .dropdown-menu{
  width: 220px;
  padding: 5px;
  right: 0;
  left: auto !important;
  transform: translate3d(0px, 0px, 0px) !important;
  top: 44px !important;
}
.main-menu-area ul.top-links #search-top .search-form {
  position: relative;
  width: 200px;
}
.main-menu-area ul.top-links #search-top .search-form label {
  margin-bottom: 0;
}
.main-menu-area ul.top-links #search-top .search-form input.form-control {
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  padding-right: 26px;
}
.main-menu-area ul.top-links #search-top .search-form .search-submit.btn {
  position: absolute;
  left: 170px;
  top: 0;
  line-height: 18px;
  font-size: 18px;
  height: 100%;
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: #5a5a5a;
}
.main-menu-area ul.top-links #search-top .search-form .search-submit.btn:hover{
  background-color: transparent;
}
/* ESSENTIAL MENU STYLES */

#page-header .sf-menu,
#page-header .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
#page-header .sf-menu li.normal-item-pro,
#page-header .sf-menu li.normal-item-pro li {
  position: relative;
}
#page-header .sf-menu li.normal-item-pro ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
#page-header .sf-menu li.normal-item-pro ul ul {
  top: 0;
  left: 100%;
}
#page-header .sf-menu > li {
  float: left;
}
#page-header .sf-menu li:hover > ul,
#page-header .sf-menu li.sfHover > ul {
  display: block;
}
#page-header .sf-menu a {
  display: block;
  position: relative;
}
#page-header .sf-menu ul ul {
  top: 0;
  left: 100%;
}
/* MEGA MENU ESSENTIAL STYLES */

#page-header .sf-mega {
  z-index: 20;
  display: none;
  left: 0px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#page-header .sf-mega {
  width: 1200px;
  left: 50%;
  margin-left: -600px;
}
#page-header .sf-mega .sf-mega-section {
  width: 33%;
  float: left;
}
#page-header .sf-mega .sf-mega-section.columns-pro-1 {
  width: 100%;
}
#page-header .sf-mega .sf-mega-section.columns-pro-2 {
  width: 50%;
}
#page-header .sf-mega .sf-mega-section.columns-pro-3 {
  width: 33%;
}
#page-header .sf-mega .sf-mega-section.columns-pro-4 {
  width: 25%;
}
#page-header .sf-mega .sf-mega-section.columns-pro-5 {
  width: 20%;
}
#page-header .sf-mega .sf-mega-section.columns-pro-6 {
  width: 16.5%;
}
/* DEFAULT NAVIGATION SKIN */

#page-header .sf-menu ul {
  min-width: 12em;
}
#page-header .sf-menu a {
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  zoom: 1;
  cursor: pointer;
  color: #13a;
}
#page-header .sf-menu li {
  background: #BDD2FF;
  white-space: nowrap;
}
#page-header.sf-menu ul li {
  background: #AABDE6;
}
#page-header .sf-menu ul ul li {
  background: #9AAEDB;
}
#page-header .sf-menu li.sfHover,
#page-header .sf-menu li:hover {
  background: #CFDEFF;
}
#page-header .sf-arrows .sf-with-ul {
  padding-right: 2.5em;
}
#page-header .sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #dFeEFF;
  border-top-color: rgba(255, 255, 255, 0.5);
}
#page-header .sf-arrows > .sfHover > .sf-with-ul:after,
#page-header .sf-arrows > li:hover > .sf-with-ul:after,
#page-header .sf-arrows > li > .sf-with-ul:focus:after {
  border-top-color: #fff;
}
#page-header .sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent transparent transparent #dFeEFF;
  border-left-color: rgba(255, 255, 255, 0.5);
}
#page-header .sf-arrows ul .sfHover > .sf-with-ul:after,
#page-header .sf-arrows ul li:hover > .sf-with-ul:after,
#page-header .sf-arrows ul li > .sf-with-ul:focus:after {
  border-left-color: #fff;
}
#page-header .main-nav-center .sf-menu li.normal-item-pro:last-child ul,
#page-header .main-nav-left .sf-menu li.normal-item-pro:last-child ul {
  left: 0;
  right: auto;
}
#page-header .main-nav-center .sf-menu ul ul,
#page-header .main-nav-left .sf-menu ul ul,
#page-header .sf-menu li.normal-item-pro:last-child ul ul {
  left: 100%;
  right: auto;
}
#page-header .sf-menu .menu-item-language .submenu-languages {
  position: absolute;
}
/* MENU THEME SKIN */

#page-header .sf-menu li,
.sf-menu ul li,
#page-header .sf-menu ul ul li,
#page-header .sf-menu li:hover,
#page-header .sf-menu li.sfHover {
  background: none;
}
#page-header #main-right-navigation {
  float: right;
}
#page-header #main-right-navigation ul {
  list-style: none;
  margin: 0px;
  padding: 13px 0px 0px 0px;
  float: right;
}
#page-header #main-right-navigation ul li a {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 14px 19px;
  color: #fdb825;
  border: 3px solid rgba(225, 43, 95, 0.7);
}
#page-header #main-right-navigation ul li a:hover {
  border-color: #fdb825;
}
#page-header #main-right-navigation ul li a i {
  padding-right: 5px;
}
/* Button Highlight */

#page-header .sf-menu li.highlight-button {
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-font-smoothing: subpixel-antialiased;
}
#page-header .sf-menu li.highlight-button li a:before {
  display: none;
}
#page-header .sf-menu li.sfHover.highlight-button a:before {
  width: 100%;
}
#page-header .sf-menu li.sfHover.highlight-button a,
#page-header .sf-menu li.current-menu-item.highlight-button a,
#page-header .sf-menu li.highlight-button a,
.sf-menu li.highlight-button a:hover {
  color: #ffffff;
  background: none;
}
#page-header .sf-menu li.highlight-button a {
  overflow: visible;
}
#page-header .sf-menu li.highlight-button a:before {
  bottom: auto;
  top: 50%;
  left: -3px;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 40px;
  z-index: -1;
  margin: 0px;
  opacity: 1;
  background: none;
}
#page-header .sf-menu li.highlight-button a:hover:before {
  background: none;
}
#page-header .sf-menu li.divider {
  margin-left: 10px;
  padding-left: 10px;
}
#page-header .sf-menu li.divider:after {
  content: '';
  position: absolute;
  bottom: 24px;
  left: 0px;
  height: 24px;
  width: 1px;
  background: rgba(255, 255, 255, 0.26);
}
#page-header .sf-menu li.highlight-button a:before {
  height: 40px;
  /* + 28px */
  
  margin-top: -23px;
  /* + 28px and divided by 2 */
  
  border-radius: 0px;
}
#page-header h2.mega-menu-heading,
#page-header nav#site-navigation {
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}
#page-header .sf-menu a {
  line-height: 1;
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  text-transform: uppercase;
}
#page-header .sf-menu a::before {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
#page-header .sf-menu a:hover::before,
#page-header .sf-menu li.sfHover a::before,
#page-header .sf-menu li.current-menu-item a::before {
  opacity: 1;
  background: #fdb825;
}
#page-header .main-nav-cart-icon-off #progression-shopping-cart-toggle,
#page-header .main-search-icon-off #main-header-search-icon {
  display: none !important;
}
#page-header .sf-menu a:hover::before,
#page-header .sf-menu li.sfHover a::before,
#page-header .sf-menu li.current-menu-item a::before {
  width: -moz-calc(100% - 28px);
  width: -webkit-calc(100% - 28px);
  width: calc(100% - 28px);
}
#page-header .sf-menu a:before {
  display: none;
}
#page-header .sf-menu a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  margin-top: 17px;
  height: 2px;
  background: #888888;
  opacity: 0.5;
  width: 0px;
  margin-left: 15px;
}
#page-header .sf-menu .sf-mega:before {
  display: none;
}
#page-header .sf-menu li li a:before {
  display: none;
}
#page-header .sf-menu ul {
  font-weight: 400;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
#page-header .sf-menu ul.sf-mega:before {
  left: 50px;
}
#page-header .sf-menu ul ul:before {
  display: none;
}
#page-header .sf-menu .sf-mega {
  padding-bottom: 0px;
}
#page-header .sf-menu .sf-mega ul {
  padding: 0px;
  margin: 0px;
  background: none;
  box-shadow: none;
}
#page-header .sf-menu li li {
  padding-right: 0px;
  padding-left: 0px;
}
#page-header .sf-menu ul {
  padding: 0;
}
#page-header .sf-menu li li a {
  text-transform: none;
  font-size: 13px;
  color: #888888;
  padding: 15px 20px 15px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  font-weight: normal;
}
#page-header .deep-level li:last-child a {
  padding-bottom: 20px;
}
#page-header .deep-level li:last-child a {
  padding-bottom: 20px;
}
#page-header .sf-menu li li:last-child li:last-child a,
#page-header .sf-mega li:last-child li:last-child li:last-child a,
#page-header .sf-mega li:last-child li:last-child a,
#page-header .sf-menu li li:last-child a {
  border: none;
}
#page-header .sf-menu li li:last-child li a,
#page-header .sf-mega li:last-child li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
#page-header .sf-menu li.sfHover li a,
#page-header .sf-menu li.sfHover li.sfHover li a,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li a,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li a,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover li a {
  background: rgba(255, 255, 255, 0);
  color: #888888;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
#page-header .sf-menu li.sfHover li a:hover,
#page-header .sf-menu li.sfHover li.sfHover a,
#page-header .sf-menu li.sfHover li li a:hover,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover a,
#page-header .sf-menu li.sfHover li li li a:hover,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover a:hover,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover a,
#page-header .sf-menu li.sfHover li li li li a:hover,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover a:hover,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a,
#page-header .sf-menu li.sfHover li li li li li a:hover,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a:hover,
#page-header .sf-menu li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover li.sfHover a {
  color: #a5a5a5;
  background: rgba(255, 255, 255, 0.08);
}
/* MEGA MENU STYLES */

#page-header .sf-mega ul {
  background: none;
  margin: 0;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}
#page-header .sf-menu ul.sf-mega {
  padding-top: 0px;
}
#page-header .sf-menu .sf-mega li {
  padding-right: 0px;
  padding-left: 0px;
}
#page-header .sf-menu .sf-mega li li {
  padding-right: 0px;
  padding-left: 0px;
}
#page-header .sf-menu .sf-mega li li a {
  padding-left: 30px;
}
#page-header .sf-mega ul:after {
  display: block;
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
}
#page-header .sf-menu .sf-mega li:first-child ul:after {
  display: none;
}
#page-header .sf-mega .mega-menu-heading {
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1;
}
#page-header .sf-mega-section a {
  background: none !important;
  font-size: 14px;
  text-transform: uppercase;
  padding: 30px 30px 22px 30px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  margin: 0 !important;
  line-height: 1;
  color: #dbdbdb !important;
}
#page-header .sf-mega-section a:hover {
  color: #ffffff !important;
}
#page-header .sf-mega-section:last-child a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  border-right: none !important;
}
#page-header ul.deep-level a {
  padding: 15px 20px 15px 25px !important;
  color: #a5a5a5 !important;
}
#page-header ul.deep-level a:hover {
  background: rgba(255, 255, 255, 0.08) !important;
  color: #888888 !important;
}
#page-header ul.deep-level li:last-child a {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: none !important;
}
#page-header .sf-mega ul.deep-level {
  border: none !important;
}
#page-header .sf-mega .sf-mega-section:hover,
#page-header .sf-mega .sf-mega-section,
#page-header .sf-mega .sf-mega-section li:hover {
  background: none;
}

/* Font Awesome Icon Spacing */

#page-header .sf-menu i {
  line-height: 1;
  margin-right: 6px;
  font-size: 90%;
  position: relative;
  margin-bottom: -2px;
  margin-top: -2px;
}
#page-header .sf-menu li li i {
  font-size: 95%;
}
#page-header .sf-mega li h2 i {
  margin-right: 8px;
}

/* Sub-menu Arrows */

#page-header .sf-arrows .sf-with-ul {
  padding-right: 30px;
}
#page-header .sf-arrows .sf-with-ul:after {
  font-weight: normal;
  font-style: normal;
  font-family: FontAwesome;
  border: none;
  content: "\f107";
  font-size: 12px;
  top: 50%;
  right: 24px;
  margin-top: -7px;
}
#page-header .sf-arrows ul .sf-with-ul:after {
  font: normal normal normal 10px/1 FontAwesome;
  content: "\f105";
  margin-top: -6px;
  right: 36px;
}
#page-header .sf-menu ul {
  background: #252729;
}
/* MOBILE NAVIGATION SKIN */

.mm-menu.mm-theme-dark {
  background: #252729;
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
}

/*
=============================================== 03. HOME HERO ===============================================
*/

.header-bg {
  display: none;
  background: none;
}
@media (min-width: 1200px) {
  .header-bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-style: preserve-3d;
  }
  .header-bg img{
    position: absolute;
    display: block;
    min-width: 101%;
    min-height: 101%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.large-hero {
  height: auto;
  color: #fff;
  position: relative;
  background-size: cover;
  margin-bottom: 0;
  z-index: 1;
  padding: 14em 0 7.5em;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .large-hero {
      min-height: 90vh;
      background: none;
      height: 600px;
      padding: 4em 0 0;
  }
}
.large-hero a.hero-category-list {
  display: inline-block;
  border-bottom: 2px solid #fdb825;
  text-transform: uppercase;
  color: #fff;
}
.large-hero a.hero-category-list:hover {
  text-decoration: none;
  color: #fdb825;
}
.large-hero h2 {
  font-weight: bold;
  position: relative;
  display: block;
}
.large-hero .btn-lg {
  margin-top: 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  padding: 1rem 1.5rem;
  font-size: .8rem;
  min-width: 180px;
}

/*
=============================================== 04. HOME LATEST POSTS ===============================================
*/

#home-latest {
  padding: 4em 0;
}
@media (min-width: 768px) {
  #home-latest .card {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      border-right: 5px solid transparent;
  }
}
/*
=============================================== 05. HOME COMPETITIONS ===============================================
*/

#home-competitions {
  overflow: hidden;
}
#home-competitions h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
#home-competitions .post-competition {
  color: #ffffff;
  text-align: center;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  z-index: 1;
  height: 300px;
}
#home-competitions .post-competition h4 {
  font-weight: 700;
  text-transform: uppercase;
}
#home-competitions .post-competition a {
  text-decoration: none;
}
#home-competitions .post-competition h4 {
  color: #ffffff;
}
#home-competitions .post-competition .btn {
  width: 150px;
  display: block;
  margin: 1rem auto 0;
}
@media (min-width: 992px) {
  #home-competitions .post-competition {
      height: 400px;
  }
}
#home-competitions .event_link_wrap {
  width: 100%;
  text-align: center;
  display: block;
  padding: 0 1.5rem;
  border-bottom: 5px solid #ffffff;
}
@media (min-width: 768px) {
  #home-competitions .event_link_wrap {
      border-right: 5px solid #ffffff;
  }
  #home-competitions .row:not(.competition-wide) {
      margin-right: -5px !important;
  }
}
#home-competitions .event_link_wrap::before {
  background-color: #000;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  transition: all .5s ease;
}
#home-competitions .event_link_wrap:hover::before {
  opacity: .8;
}
#home-competitions .event_link_wrap:hover .btn {
  color: #fff;
  background-color: #fdb825;
  border-color: #fdb825;
}

#home-competitions .competition-wide{
  position: relative;
  min-height:150px;
  background-color:#000000;
  color:#ffffff;
  padding:2rem;
  background-size: cover;
  background-position: 50% 50%
}
#home-competitions .competition-wide a.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#home-competitions .competition-wide a.overlay:after{
  position: absolute;
  content: '';
  top:5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -webkit-box-shadow:inset 0 0 0 1px rgba(253,185,37,0);
  box-shadow:inset 0 0 0 0px rgba(253,185,37,0);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
#home-competitions .competition-wide a.overlay:hover:after{
  -webkit-box-shadow:inset 0 0 0 3px rgba(253,185,37,0.8);
  box-shadow:inset 0 0 0 3px rgba(253,185,37,0.8);
}
#home-competitions .competition-wide p.title{
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1;
}
@media (max-width:480px){
  #home-competitions .competition-wide p.title{
    font-size: 24px !important;
  }
}

/*
=============================================== 06. HOME PRODUCTS ===============================================
*/

#home-products {
  padding: 4em 0;
}
#home-products .product {
  text-align: center;
  border-bottom: solid 1px #969696;
}
@media (min-width: 768px) {
  #home-products .product {
      border-right: solid 1px #969696;
      text-align: center;
  }
  #home-products .product:nth-child(2),
  #home-products .product:nth-child(4) {
      border-right: none;
  }
}
@media (min-width: 1200px) {
  #home-products .product {
      border-right: solid 1px #969696;
      border-bottom: none;
  }
  #home-products .product:nth-child(2) {
      border-right: solid 1px #969696;
  }
  #home-products .product:nth-child(4) {
      border-right: none;
  }
}
#home-products .product-inner {
  padding: 15px;
  background: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
#home-products .product-inner:hover .image img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#home-products .product .image {
  overflow: hidden;
  position: relative;
}
#home-products .product .image img {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  margin-bottom: 2rem;
  max-height: 220px;
}
#home-products .product .text h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  height: auto;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #home-products .product .text h3 {
      height: 80px;
  }
}
#home-products .product .text h3 a {
  color: #1e1e1e;
  text-decoration: none;
}
#home-products .product:hover .text h3 a {
  color: #fdb825;
}
#home-products .quick-view-button {
  padding: 1rem 0;
}
#home-products .quick-view-button a {
  border: 1px solid #1e1e1e;
  background-color: transparent;
  display: block;
  width: 100px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.75rem 1 rem;
  margin: auto;
  color: #1e1e1e;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
#home-products .quick-view-button a:hover {
  border: 1px solid #fdb825;
  background-color: #fdb825;
  display: block;
  color: #ffffff;
}
#home-products p.price {
  margin-bottom: 0;
  padding: 0.5rem 0;
  font-size: 24px;
}
/* QUICK VIEW MODAL */

#product-quick-view-modal .quick-view-main-image img {
  max-height: 250px;
  margin: 0 auto;
  display: block;
  background-color: #ffffff;
}
#product-quick-view-modal .modal-content {
  padding: 0rem;
}
#product-quick-view-modal button.close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  width: 30px;
  height: 30px;
}

@media (min-width: 992px) {
  #product-quick-view-modal .modal-lg {
      max-width: 900px;
  }
  #product-quick-view-modal .modal-content {
    padding: 2rem;
  }
  #product-quick-view-modal button.close {
    top: 0;
    right: 0;
  }
  #product-quick-view-modal .quick-view-main-image img {
      max-height: 450px;
  }
}
#product-quick-view-modal .quick-view h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
#product-quick-view-modal .text-small {
  font-size: 12px;
}
#product-quick-view-modal .text-muted {
  color: #777;
}
#product-quick-view-modal .quick-view .price {
  font-size: 28px;
  margin: 20px 0;
}
#product-quick-view-modal .quick-view .box {
  background: #fff;
  margin: 0 0 30px;
  margin-top: 0px;
  border: solid 1px #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-left: none;
  border-right: none;
}
.quick-view-social h4 {
  font-size: 16px;
  text-transform: uppercase;
}
.quick-view-social p a {
  margin: 0 4px 0 4px;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40x;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  vertical-align: bottom;
}
.quick-view-social p a i {
  vertical-align: bottom;
  line-height: 40px;
}
.quick-view-social p a.facebook {
  background-color: #4460ae;
}
.quick-view-social p a.gplus {
  background-color: #c21f25;
}
.quick-view-social p a.twitter {
  background-color: #3cf;
}
.quick-view-social p a.email {
  background-color: #4a7f45;
}
/*
=============================================== 07. HOME ABOUT ==========================================
*/

#home-about {
  padding: 6em 0;
  background: url("assets/img/about-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  color: #ffffff;
  position: relative;
}
#home-about h1 {
  font-weight: 700;
}
@media (min-width: 1200px) {
  #home-about {
      background-attachment: fixed;
  }
}

/*
=============================================== 08. INSTAGRAM CAROUSEL ===================================
*/

section#instagram-feed {
  margin-bottom: 4em;
}
section#instagram-feed .container-fluid{
  position: relative;
}

/*
=============================================== 09. FOOTER ===============================================
*/

footer {
  background: #252729;
  padding: 1rem 0 2rem;
  color: #ffffff;
  font-size: 0.85rem;
}
footer .footer-col-content {
  clear: both;
  display: none;
}
footer .footer-col {
  margin-bottom: 0rem;
}
footer h4,
footer .footer-info-box span {
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  float: left;
  width: 100%;
}
footer h4 {
  padding: 1.5rem 0;
  border-bottom: solid 1px #2e2e2e;
  cursor: pointer;
  position: relative;
}
footer .footer-col h4:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  text-align: right;
  border: 1px solid #ffffff;
  width: 18px;
  height: 18px;
  float: right;
  text-align: center;
}
footer .footer-info-box {
  margin-top: 1.5rem;
}
footer .footer-info-box span i {
  color: #fdb825;
  font-size: 23px;
  line-height: 23px;
  position: relative;
  margin-right: 10px;
}
footer a,
footer .footer-info-box p,
footer .block-newsletter p {
  color: #888888;
}
footer a:hover {
  text-decoration: none;
}
footer li {
  margin-bottom: 0.25rem;

}
footer .block-newsletter {
  margin-bottom: 1.5rem;
}
footer .social-links li {
  text-align: center;
}
footer .social-links li a {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  background: #333333;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;
}
footer .social-links li i{
  font-size:
  18px;
  line-height: 40px;
}
footer .social-links li a:hover {
  background: #fdb825;
}
footer .copyright{
  padding-top: 2rem;
  border-top: 1px solid #2e2e2e;
  color: #777777;
  font-size: 13px;
  text-align: left;
}
@media (min-width: 992px) {
  footer {
      padding: 4rem 0 2rem;
  }
  footer h4 {
      float: none;
      display: block;
      width: 100%;
      pointer-events: none;
      padding: 0;
      border: none;
  }
  footer .footer-col {
      margin-bottom: 3rem;
  }
  footer .footer-col h4:after {
      display: none;
  }
  footer .footer-col-content {
      display: block !important;
  }
  footer .footer-info-box {
      margin-top: 0;
  }
  footer .copyright{
    text-align: center;
  }
}

/*
=============================================== 10. ARCHIVE PAGE  ===================================
*/

#page-navigation{
  padding:4rem 0 0;
}

.page-link {
  position: relative;
  text-align: center;
  display: block;
  padding: 0;
  width: 44px;
  height: 44px;
  margin-left: -1px;
  line-height: 44px;
  color: #fdb825;
  background-color: #fff;
  border: 1px solid #ddd;
}

/*
=============================================== 10. POST PAGE  ===================================
*/

body.single-post .large-hero .meta{
  position: absolute;
  left:5%;
  bottom: 0;
  padding-left: 15px;
}

body.single-post .large-hero .meta p.author{
  margin-bottom: 0;
}
body.single-post .large-hero .meta p.date{
  position: relative;
  left: 95px;
  top: -35px;
  margin-bottom: 0;
  font-size: 13px;
}

body.single-post .large-hero .meta p.author .user-picture{
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: -10px;
  overflow: hidden;
}
body.single-post .large-hero .meta p.author .display-name{
  position: relative;
  top: -35px;
  right: -10px;
}

/* Sharing Icons */
ul.blog-single-social-sharing {
	list-style:none;
	margin:0px;
	padding:0px;
	display: table; 
	table-layout: fixed; 
	width: 100%; 
}
ul.blog-single-social-sharing li {
	margin:0px;
	padding:0px;
	display: table-cell;
}
ul.blog-single-social-sharing li:last-child a {
	margin-right:0px;
}
ul.blog-single-social-sharing li a {
	display:block;
	line-height:1;
	font-size:14px;
	text-align:center;
	height:50px;
	line-height:50px;
	background:#767a86;
	color:#ffffff;
	position:relative;
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
ul.blog-single-social-sharing li a i {
	font-size:19px;
	position:relative;
  margin-right: 4px;
}
ul.blog-single-social-sharing li a:before {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:block;
	content:'';
	background:rgba(255,255,255, 0);
}
ul.blog-single-social-sharing span {
	position:relative;
	z-index:5;
}
@media (max-width:1025px){
  ul.blog-single-social-sharing span {
    display: none;
  }
}
ul.blog-single-social-sharing li a:hover:before {
	background:rgba(255,255,255, 0.15);
}

ul.blog-single-social-sharing li a.twitter-share {
	background:#52b3eb;
}

ul.blog-single-social-sharing li a.facebook-share {
	background:#3655b9;
}

ul.blog-single-social-sharing li a.pinterest-share {
	background:#cb2027;
}

ul.blog-single-social-sharing li a.vk-share {
	background:#45668e;
}

ul.blog-single-social-sharing li a.google-share {
	background:#dd4b39;
}

ul.blog-single-social-sharing li a.reddit-share {
	background:#fd4314;
}

ul.blog-single-social-sharing li a.linkedin-share {
	background:#007bb6;
}

ul.blog-single-social-sharing li a.tumblr-share {
	background:#32506d;
}

ul.blog-single-social-sharing li a.stumble-share {
	background:#ea472a;
}
.single-post .categories, .single-post .tags {
  text-transform: uppercase;
  color: #9d9d9c;
  font-size: 12px;
}
.single-post .categories a, .single-post .tags a{
  text-transform: uppercase;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 12px;
  color: #575757;
  background: #e5e5e5
}
.single-post .categories a:hover, .single-post .tags a:hover{
  background: #575757;
  color: #ffffff;
}

/* Blog Comments */

#comments{
  border-top: solid 1px #e5e5e5;
  padding-top: 2em;
}

p.logged-in-as {
	font-size:90%;
}
.comment-navigation {
	padding-top:10px;
	padding-bottom:25px;
}
.comment-navigation a {
	text-decoration:underline;
}
.comment-navigation .nav-previous {
	float:left;
	width:50%;
}
.comment-navigation .nav-next {
	float:right;
	width:50%;
	text-align:right;
}
.comment-form label {
	display:block;
	padding:0px 0px 2px 0px;
	font-size:90%;
}
.form-allowed-tags code {
	font-family: Inconsolata, monospace;
	display:block;font-size:80%;
}
#comments h4.comments-title {
	margin-top:15px;
	margin-bottom:20px;
	font-size:24px;
	font-weight:400;
	text-transform:uppercase;
}
#comments h3.comment-reply-title {
	font-size:20px;
	margin-bottom:15px;
	font-weight:400;
}
#comments h3.comment-reply-title small { 
	font-size:14px; 
	padding-left:5px; 
}
body .comment-list { 
	list-style: none; 
	margin:0px 0px 25px 0px; 
	padding:0px;
}
.comment-list li.comment {
	padding-bottom:10px;
	margin-bottom:25px;
	position:relative;
}
body .comment-list .pingback {
	padding-bottom:15px;
	font-size:90%;
}
.comment-list .children { 
	list-style: none; 
	margin: 0; 
	padding:0px;
}
.comment-list .children > li {
	border-bottom:0px;
	margin-bottom:0px;
	margin-top:50px;
	margin-left: 12px;
}
.comment-body {
	font-size:90%;
	padding:14px 15px;
	margin-left:32px;
	background:#f5f5f5;
}
.comment-body:before {
	content:'';
	display:block;
	position:absolute;
	left:80px;
	top:30px;
	border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
	border-right:10px solid #f5f5f5; 
}
.comment-body p {
	margin-bottom:10px;
}
.comment-author .avatar {
	float: left;
	height: 30px;
	width: 30px;
	left:0px;
	position:absolute;
	border-radius:100px;
}
@media (min-width:992px){
  .comment-body {
    padding:18px 25px;
    margin-left:90px;
  }
  .comment-author .avatar {
    height: 70px;
    width:70px;
  }
  .comment-list .children > li {
    margin-left: 35px;
  }

}
.comment-author span.says {
	display:none;
}
.comment-author cite a, .comment-author cite a:hover {color:#35364c;}
.comment-author cite {
	display:inline-block;
	font-style:normal;
	font-weight:500;
	line-height:1.2;
	color:#35364c;
	font-size:15px;
	padding-right:5px;
	padding-bottom:0px;
	padding-top:4px;
}
.commentmetadata {
	margin-bottom: 8px;
	font-size:13px;
	padding-top:3px;
	color:#878787;
}
.commentmetadata a, .commentmetadata a:hover {
	color:#878787;
}
.reply a.comment-reply-link {
	font-size:13px;
	position:absolute;
	padding:6px 10px;
	right:0px;
	margin-top:-15px;
  display:block;
  text-decoration: none;
}
.reply a.comment-reply-link:before {
	content:"\f112";
	font-weight:normal;
	font-family:FontAwesome;
	font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);
	padding-right:5px;
	font-size:9px;
	position:relative;
	top:-1px;

}
#respond.comment-respond {
	margin-top:15px;
}
.comment-list a.comment-edit-link {
	font-size:12px;
	font-weight:500;
}

/* Blog Comments form */

span.required {
	color:#fa4e3c;
}
#respond textarea:focus, #respond input:focus{
	outline:none;
	border-color:#8d8d8d; 
}
#respond textarea, 
#respond input{
	border-radius:0px;
	width:100%;
	font-size:14px;
	padding:10px 18px;
	background:#f2f3f5;
	border:2px solid #f2f3f5;
}
#respond input#submit{
  line-height: 1;
  border: none;
  text-align: center;
  display: inline-block;
  border-radius: 0px;
  width: auto;
  padding: 14px 20px;
  background-color: #fdb825;
  cursor: pointer;
}

#respond textarea, 
.comment-respond textarea, 
{
	width:96%;
	width: calc(100% - 40px);
}
@media(min-width: 992px){
  .comment-form-author,
  .comment-form-email{
    width: 32%;
    float: left;
    margin-right:2%;
  }
  .comment-form-url{
    width: 32%;
    float: left;
  }
}

/* disable browser outer glow */
:invalid {
  box-shadow: none;
}
:-moz-submit-invalid {
  box-shadow: none;
}
:-moz-ui-invalid {
  box-shadow: none;
}






.widget{
  margin-bottom: 2rem;
}
h3.sidebar-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
